ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.container {
    margin-top: 10px;
    width: 100%;
}

.setup-generator {
    border: 3px solid blue;
    width: 66%;
    text-align: center;
    float: left;
    margin-left: 17%;
}

.cleanup-generator {
    border: 3px solid green;
    width: 17%;
    text-align: center;
    float: right;
}

.randomSetup {
    margin-top: 10px;
}