ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 66%;
    border: 3px solid blue;
    text-align: center;
}

.randomSetup {
    margin-top: 10px;
}