html {
    background-color: darkred;
}

/*
    min-height: 100 view height (100% browser's viewport)
    position: relative (allows for absolutely positioned elements, headers/footers)
    margin: 0 prevents unwanted scrollbars
*/
body {
    min-height: 100vh;
    position: relative;
    margin: 0;
}

.app {
    display: flex; 
 }

/* 
    Phones
 */
@media (min-width: 320px) and (max-width: 736px) {
    .app {
        width: 100%;
        flex-flow: column nowrap;
    }

    .setup-generator {
        order: 1;
    }

    .cleanup-generator {
        order: 2;
    }

    /*
        horizontal flexbox container
    */
    .horizontalContainer {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
    }

    .cardImageContainer {
        margin: auto;
    }

    .image-label {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        padding: 5%;
        font-size: 3vw;
    }

    @media (orientation: portrait) {
        .image-label {
            height: 9vh;
        }
    }

    @media (orientation: landscape) {
        .image-label {
            height: 15vh;
        }
    }

    .cardImage {
        width: 100%;
        height: auto;
    }
}

/*
    Tablets
 */
@media (min-width: 768px) and (max-width: 1366px) {

}

/*
    Desktop
 */
@media (min-width: 1367px) {

}

.setup-generator {
    border: 3px solid blue;
}

.cleanup-generator {
    border: 3px solid green;
}

.btn-sm {
    width: 25%;
}

.scheme-container,
.villains-container {
    background-color: rgb(52, 58, 64);
}

.mastermind-container,
.heroes-container {
    background-color: floralwhite;
}